* {
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

main {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    .globe {
        width: 100px;
        position: absolute;
        top: 30px;;
        left: 30px;
    }
    
    input, button {
        padding: 5px;
        border: 1px solid black;
        border-radius: 5px;
    }
    input {margin: 10px;}
    button {
        margin-bottom: 30px;
        background: white;
        transition: .2s;
        &:hover {
            background: black;
            color: white;
            cursor: pointer;
        }
    }
    #countries {
        list-style-type: none;
        text-align: left;
        .country-heading {
            background: linear-gradient(lightgray, white);
            border-radius: 10px;
            height: 80px;
            margin: 20px;
            img {
                height: 60px;
                width: 96px;
                display: inline-block;
            }
            h3 {
                display: inline-block;
                font-size: 30px;
                position: relative;
                bottom: 20px;
                left: 20px;
            }
        }
        div {padding: 10px;}
        .properties, .values {
            display: inline-block;
            list-style-type: none;
        }
        .properties {width: 30%;}
        .values {width: 65%;}
    }
}